.modal {
    color: #F83E40;
}

.modal h3 {
    text-align: center;
}

.modal button {
    display: block;
    margin: 0 auto;
    width: 50%;
    background: #F83E40;
    color: white;
    border: 0px solid;
    padding: 10px;
    transition: all 0.2s ease;
}

.modal button:hover {
    color: #F83E40;
    background: white;
    border: 2px #F83E40 solid;
    transition: all 0.2s ease;
}